:root {
  /* Colors */
  --primary-white: hsl(0, 0%, 100%);
  --primary-soft-blue: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);

  --secondary-main-bg: hsl(217, 54%, 11%);
  --secondary-card-bg: hsl(216, 50%, 16%);
  --secondary-line: hsl(215, 32%, 27%);

  /* Font */
  --font: 'Outfit', sans-serif;
  --weight-300: 300;
  --weight-400: 400;
  --weight-600: 600;
}

html {
  font-family: var(--font);
  font-size: 16px;
  color: var(--primary-white);
}

body {
  box-sizing: border-box;
  background-color: var(--secondary-main-bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: var(--secondary-card-bg);
  border-radius: 1rem;
}

.card__container {
  padding: 0.5rem;
}

.card__image {
  position: relative;
}
.card__image .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  opacity: 0;
  transition: all 0.5s ease;
  background-color: var(--primary-cyan);
}

.card__image:hover .overlay {
  opacity: 0.7;
}
.card__image:hover .card__image--hover {
  opacity: 1;
}

.card__image--hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s ease;
}

.card__image .card__image--main {
  max-width: 100%;
  border-radius: 0.5rem;
}

.card__title {
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.card__title:hover {
  color: var(--primary-cyan);
  cursor: pointer;
}

.card__desc {
  font-size: 1rem;
  color: var(--primary-soft-blue);
  line-height: 1.8rem;
}

.card__details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card__details * img {
  margin-right: 0.5rem;
}

.card__details .card__details--price {
  display: flex;
  align-items: center;
  color: var(--primary-cyan);
  font-weight: var(--weight-600);
}

.card__details .card__details--days {
  display: flex;
  align-items: center;
  color: var(--primary-soft-blue);
}

.card__creator {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--secondary-line);
  padding-top: 1rem;
}

.card__creator img {
  width: 3.125rem;
  margin-right: 1rem;
}

.card__creator p {
  color: var(--primary-soft-blue);
}

.card__creator span {
  color: var(--primary-white);
  transition: all 0.5s ease-in-out;
}

.card__creator span:hover {
  color: var(--primary-cyan);
  cursor: pointer;
}

.attribution {
  width: 300px;
  margin: 0 auto;
  font-size: 0.75rem;
}

@media screen and (min-width: 1440px) {
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
